@font-face {
         font-family: 'Acalson Pro';
         src: url('./fonts/acalsonpro/ACaslonPro-Regular.otf') format('embedded-opentype'), /* Internet Explorer */
         url('./fonts/acalsonpro/ACaslonPro-Regular.otf') format('woff2'), /* Super Modern Browsers */
         url('./fonts/acalsonpro/ACaslonPro-Regular.otf') format('woff'), /* Pretty Modern Browsers */
         url('./fonts/acalsonpro/ACaslonPro-Regular.otf')  format('truetype'), /* Safari, Android, iOS */
         url('./fonts/acalsonpro/ACaslonPro-Regular.otf') format('svg'); /* Legacy iOS */
}

* {
    background: #282828;
    color: #fff;
    font-family: 'Acalson Pro', sans-serif;
}

main {
    font-size: 1.5rem;
    font-weight: 100;
}

.content {
    font-size: 5.5rem;
    text-align: center;
}

.nav {
    padding: 0.5em;
    margin: 0.25em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_links a {
    margin: 0.5em;
}
